MODEL_CACHE
*.sh.e*
*.sh.o*
__pycache__*

1_RQ1_IndoBERTweet_Baseline/bash_logs/*
1_RQ1_IndoBERTweet_Baseline/logs/*
1_RQ1_IndoBERTweet_Baseline/runs/*

2_RQ1_OPRO/bash_logs/*
2_RQ1_OPRO/logs/*
2_RQ1_OPRO/runs/*

3_RQ2_FurtherFinetune_IndoBERTweet/bash_logs/*
3_RQ2_FurtherFinetune_IndoBERTweet/logs/*
3_RQ2_FurtherFinetune_IndoBERTweet/runs/*